body {
    text-align: center;
    background-image: url("resources/Backgrounds/openBook.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p,footer{
background-color: white;
  display: inline-block;
  width: fit-content;
}
ul{
list-style-type: none;
background-color: white
width: fit-content
}

